<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>OpenTabletop</title>
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.2.4/jquery.contextMenu.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Condensed'>
</head>
<body translate="no" >

	<div class="modal">
		<div class="modal-content"></div>
	</div>
	<div class="objects"></div>
	<div class="pannel">
		<div class="add">📜</div>
		<div class="playersColor"></div>
	</div>

	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.2.4/jquery.contextMenu.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
	<script src='https://cdn.sobekrepository.org/includes/jquery-rotate/2.2/jquery-rotate.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.2/screenfull.min.js'></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
 
<!--
Copyright 2016-2017 Ivan Alexandrov

This file is part of OpenTabletop.

    OpenTabletop is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    OpenTabletop is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with OpenTabletop.  If not, see <http://www.gnu.org/licenses/>.
-->